
# Playwright
# node_modules/
# /test-results/
# /playwright-report/
# /blob-report/
# /playwright/.cache/
# /playwright/.auth/

# ignore local env
# Environment variables
.env
.env.*
!.env.example
# Test data (if it contains sensitive information)
/testdata/
/test-data/
